<form [formGroup]="form()" (ngSubmit)="onSubmit()" class="space-y-6">
    <!-- Nombre -->
    <div>
        <label class="block text-sm font-medium mb-1 text-primary-dark">Nombre del puesto</label>
        <input
            type="text"
            formControlName="nombre"
            placeholder="Ingrese el nombre del puesto"
            class="input-control border-primary-light"
        />

        @if (form().get('nombre')?.touched && form().get('nombre')?.invalid) {
            <div class="text-sm mt-1 space-y-1 text-danger">
                @if (form().get('nombre')?.errors?.['required']) {
                    <div>El nombre es requerido</div>
                }
                @if (form().get('nombre')?.errors?.['minlength']) {
                    <div>Mínimo 3 caracteres</div>
                }
            </div>
        }
    </div>

    <!-- Botones -->
    <div class="flex justify-end space-x-3 pt-2">
        <button
            type="button"
            (click)="onCancel()"
            class="btn-puesto-cancel px-4 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2"
        >
            Cancelar
        </button>

        <button
            type="submit"
            [disabled]="isLoading() || form().invalid"
            class="btn-hvc-primary px-4 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 ring-primary disabled:opacity-50 disabled:cursor-not-allowed"
        >
            {{ btnText }}
        </button>
    </div>
</form>
