@if(showText()){
    <div class="text-xs text-primary-dark">
        Mostrando {{ (paginationObj().page - 1) * paginationObj().pageSize + 1 }} a
        {{ Math.min(paginationObj().page * paginationObj().pageSize, paginationObj().totalItems) }}
        de {{ paginationObj().totalItems }} resultados
    </div>
}
<nav class="flex items-center justify-center space-x-1 mt-2">
    <form class="max-w-sm mx-auto text-[0.8em]">
        <label for="underline_select" class="sr-only">Underline select</label>
        <select id="underline_select" (change)="changePageSize(+txtPageSize.value)" #txtPageSize
            class="block py-0.5 px-2 w-full text-sm bg-transparent border rounded-sm appearance-none focus:outline-none focus:ring-0 peer text-gray border-primary-light">
            <option value="5" [selected]="paginationObj().pageSize === 5">5 registros página</option>
            <option value="10" [selected]="paginationObj().pageSize === 10">10 registros página</option>
            <option value="20" [selected]="paginationObj().pageSize === 20">20 registros página</option>
            <option value="50" [selected]="paginationObj().pageSize === 50">50 registros página</option>
        </select>
    </form>
</nav>
<nav class="flex items-center justify-center space-x-1 mt-1">
    <button (click)="previousPage()" [disabled]="paginationObj().page === 1"
        class="pagination-btn bg-primary-light text-primary-dark px-3 py-1 rounded disabled:opacity-50">
        ←
    </button>

    @for (page of totalPagesArray(); track $index) {
    <button (click)="goToPage(page)" 
        [class.pagination-btn--active]="page === paginationObj().page"
        [class.pagination-btn]="page !== paginationObj().page"
        class="px-3 py-1 rounded">
        {{ page }}
    </button>
    }

    <button (click)="nextPage()" [disabled]="paginationObj().page === totalPages"
        class="pagination-btn bg-primary-light text-primary-dark px-3 py-1 rounded disabled:opacity-50">
        →
    </button>
</nav>
<!--  -->
